body {
    background-color: black;
    color: white;
    font-family: "Charis SIL", system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: blue;
    color: white;
    font-family: "Charis SIL", system-ui;
}

.passo{
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    max-width: 90%;
    text-align: center;
}

img {
    max-width: 80%;
}